/* UI elements */

.title{
  color: $black;
  text-align: center;
}

.bar--top {
  background-color: $white;
  //border-bottom: 1px solid darken($page, 5%);
  margin: auto;
  width: 320px;
  height: 25px;
}

.battle-window {
  background: $game;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 4px darken($page, 10%);
}