// Colours for actions

// UI Colours

// Always define black and white, you never know when you want to invert them.
$black:   black;
$white:   white;
$grey:	  #d3d3d3;

$page:    #273131;
$game:    #273131;


$life: 	  #afe187; // Green
$death:   #a32222; // Dark Red
$mana:	  #421fd7; // Blue / purple

// Unit & Action Colours

$defend:  #54c0d6; // Blue
$magic:   #fec356; // Yellow
$attack:  #ef5227; // Red
$heal:    #b371a2; // purple
$hidden:  #efed69; // piss yellow thing



