/* Typography */

@font-face {
    font-family: 'sf';
    src: url('fonts/sf.eot');
    src: url('fonts/sf.eot?#iefix') format('embedded-opentype'),
         url('fonts/sf.woff2') format('woff2'),
         url('fonts/sf.woff') format('woff'),
         url('fonts/sf.ttf') format('truetype'),
         url('fonts/sf.svg#sfthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font: 'sf', sans-serif;


h1 {
  font-family: $font;
  margin: 0;
  padding: 1em;
  font-size: 1rem;
  background: $game;
  text-align: center;
}