/* styles.css */
/* Typography */
@font-face {
  font-family: 'sf';
  src: url("sf.eot");
  src: url("sf.eot?#iefix") format("embedded-opentype"), url("sf.woff2") format("woff2"), url("sf.woff") format("woff"), url("sf.ttf") format("truetype"), url("sf.svg#sfthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "sf", sans-serif;
  margin: 0;
  padding: 1em;
  font-size: 1rem;
  background: #273131;
  text-align: center;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #1c2323;
  color: white;
  font-family: "sf", sans-serif;
  margin: 0;
  padding: 0;
}

/* UI elements */
.title {
  color: black;
}

.bar--top {
  height: 25px;
  background-color: white;
  border-bottom: 1px solid #1c2323;
  width: 320px;
  margin: auto;
}

.battle-window {
  width: 320px;
  height: 480px;
  background: #273131;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 4px #101515;
}

/* actions.scss */
.bar--action-queue {
  top: 170px;
  position: absolute;
  height: 25px;
  background-color: #273131;
  width: 100%;
  border-top: 1px solid #1c2323;
}

.queue-item {
  width: 20px;
  height: 25px;
  border-right: 1px solid #101515;
  float: left;
}
.queue-item-15 {
  border-right: 0;
}

@-webkit-keyframes enemy {
  from {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes enemy {
  from {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.queue-action--defend, .queue-action--magic, .queue-action--attack, .queue-action--heal, .queue-action--hidden {
  -webkit-animation: enemy 0.14s ease-in;
  animation: enemy 0.14s ease-in;
}

.queue-action--defend {
  background-color: #54c0d6;
}
.queue-action--magic {
  background-color: #fec356;
}
.queue-action--attack {
  background-color: #ef5227;
}
.queue-action--heal {
  background-color: #b371a2;
}
.queue-action--hidden {
  background-color: #556a8f;
}

.bar--actions {
  top: 195px;
  position: absolute;
  height: 80px;
  border-top: 1px solid #1c2323;
  border-bottom: 1px solid black;
  width: 100%;
}

.action {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.action:not(:last-child) {
  border-right: 1px solid black;
}
.action--defend {
  background-color: #54c0d6;
}
.action--defend:hover {
  background-color: #30aec7;
}
.action--magic {
  background-color: #fec356;
}
.action--magic:hover {
  background-color: #feb123;
}
.action--attack {
  background-color: #ef5227;
}
.action--attack:hover {
  background-color: #d33a10;
}
.action--heal {
  background-color: #b371a2;
}
.action--heal:hover {
  background-color: #9d548a;
}

.squad-manager {
  width: 100%;
  position: absolute;
  top: 275px;
  height: 205px;
  background-color: #273131;
  padding-left: 20px;
  overflow: hidden;
}

.unit-window {
  width: 51px;
  height: 51px;
  border-right: 1px solid #101515;
  border-bottom: 1px solid #101515;
  float: left;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.unit-window:hover {
  background-color: #101515;
}
.unit-window + .unit-window + .unit-window + .unit-window + .unit-window {
  border-top: 1px solid #101515;
}
.unit-window:nth-of-type(4n+1) {
  clear: left;
}

.unit {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  border: 2px solid black;
}
.unit-attacker {
  border-color: #ef5227;
  background-color: #bf411f;
}
.unit-defender {
  border-color: #54c0d6;
  background-color: #4399ab;
}
.unit-healer {
  border-color: #b371a2;
  background-color: #8f5a81;
}

.bar-health {
  height: 4px;
  width: 26px;
  position: absolute;
  top: 12px;
  left: -5px;
  background-color: #a32222;
}
.bar-health .life {
  height: 100%;
  background-color: #afe187;
}

.unit-window {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  width: 50px;
  height: 65px;
  position: relative;
  border: 1px solid black;
  margin: -1px 14px -13px 0px;
  left: 40px;
}
.unit-window + .unit-window + .unit-window + .unit-window + .unit-window {
  left: -1px;
  top: -2px;
}
.unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window {
  left: 22px;
  top: -4px;
}
.unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window + .unit-window {
  left: -19px;
  top: -6px;
}

.unit {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.flee-button {
  background-color: #fec356;
  height: 160px;
  width: 102px;
  display: block;
  position: absolute;
  right: -45px;
  bottom: -58px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
.flee-button .exit {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

/* Health & Magic UI */
.bar-vertical {
  height: 145px;
  width: 25px;
  top: 25px;
  position: absolute;
  background-color: #3e4d4d;
}

.bar--life {
  left: 0;
}
.bar--life .filler {
  background-color: #afe187;
  background-color: #afe187;
  background-image: -webkit-linear-gradient(#afe187, #567f34);
  background-image: linear-gradient(#afe187, #567f34);
}
.bar--mana {
  right: 0;
}
.bar--mana .filler {
  background-color: #421fd7;
  background-color: #421fd7;
  background-image: -webkit-linear-gradient(#421fd7, #210f6b);
  background-image: linear-gradient(#421fd7, #210f6b);
}

.filler {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  -webkit-transition: height 1s;
          transition: height 1s;
}
.filler:hover {
  height: 50%;
}
